extends ../app

block content
    .contact-wrapper.container
        h3#title Contact Page
        a.btn.btn-primary(href='/') go home page
        a.btn.btn-primary(href='/about.html') go about page
block additional-scripts
    script(src='@scripts/app.js' type='module')
