
mixin Card(title, subtitle, text, imgSrc)
        .col-md-4.col-sm-12.mt-5
          .card.rounded-0.mb-3.border-0
            .row.g-0
              .col-4.mt-3
                img(src=imgSrc, class="cards", alt="cards")
              .col-8
                .card-body
                  h1.card-title= title
                  p.subtitle= subtitle 
                  p.text= text
          
   
            

       
